.swiper {
    width: 100%;
    min-height: 50vh;
    height: min-content;
}

.mainSwiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
}
