.sc-dlfnuX {
    pointer-events: none;
    cursor: pointer !important;
}

.sc-gsTEea {
    border: none !important;
    cursor: pointer !important;

    &:focus {
        width: 100% !important;
    }
}