@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --swiper-navigation-size: 1.5em;
    --swiper-theme-color: #f48f4a;
}

@font-face {
    font-family: tbTitles;
    src: url(./assets/fonts/constan.ttf);
}

@font-face {
    font-family: tbCaps;
    src: url(./assets/fonts/DMSans-Regular.ttf);
}


@layer components {
    .tbBtn {
        @apply bg-tbMain rounded-full py-1.5 px-16 text-white font-bold tracking-widest transition-all duration-tbBase hover:bg-black ;
        
    }

    .tbTitleStyles{
        @apply text-xl font-bold py-2 ;
    }
}

html{
    font-family: tbCaps;
}

::selection{
    background-color: #f48f4a;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
    border: 1px solid black;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #f48f4a;
}