@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: tbTitles;
    src: url(./assets/fonts/constan.ttf);
}

@font-face {
    font-family: tbCaps;
    src: url(./assets/fonts/DMSans-Regular.ttf);
}


@layer components {
    .tbBtn {
        @apply bg-tbMain rounded-full py-1.5 px-16 text-white;
    }
}